<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>New Sinatra App</title>
    <link rel="stylesheet" href="/blankslate/main.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cherry+Cream+Soda" type="text/css" >
    <script src="/blankslate/prettify.js" type="text/javascript"></script>
  </head>
  <body onload="prettyPrint()">
    <%= yield %>
  </body>
</html>